@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

.single {
  .top-menu li a,
  .top-menu li span {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 400;
  }

  .nav-product {
    display: flex;
    justify-content: center;
  }

  .break-btn-wrapper {
    position: fixed;
  }

  .copyright {
    width: 100%;
    text-align: center;
    margin: 1% 0;

    bottom: 1%;
    left: 0;

    background: transparent;
    color: #CFCFCF;
    mix-blend-mode: difference;
    
    z-index: 0;
  }
}

.product-info {
  width: 100%;

  .product-name {
    min-width: 100%;

    margin: 0;
    padding-left: 0.5%;

    font-size: 60px;
    font-weight: 300;
    color: #CFCFCF !important;
  }
}

.product-data {
  position: fixed;
  margin: 0;
  bottom: 0;

  z-index: 100;

  .collapse-btn {
    display: none;
    width: 100%;
    background-color: #CFCFCF;
    color: black;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }

  .collapsible.collapsed {
    display: none;
  }

  ul {
    width: max-content;
    padding: 0 3%;
    font-family: "Inclusive Sans", sans-serif;
    list-style: none;
  }

  strong {
    font-weight: 600;
  }

  .buy-btn {
    width: 100%;
    margin-top: 5px;
    padding: 5px;

    background-color: black;
    color: white;
    border: solid black;
    border-radius: 5px;

    cursor: pointer;
  }

  .buy-btn:hover {
    background-color: white;
    color: black;
    border: solid;
  }
}

.product-material {
  display: flex;

  .material-list {
    width: max-content;
    margin: 0;
    padding: 0 0 0 5px;
    list-style: none;
  }

  .material-list li {
    display: block;
    margin-bottom: 2px;
  }
}

//PRODUCT CONTAINER
.content-container {
  padding: 10% 27%;

  p {
    font-family: "Inclusive Sans", sans-serif;
  }
}

.custom-slideshow {
  position: relative;
  overflow: visible !important;
  /* allow buttons to extend outside */

  max-width: 100%;
  margin: 0 auto;

  height: 0;
  padding-top: 80.25%;

  .slide {
    display: none;
    text-align: center;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

    font-size: 60px;
    background: transparent;
    color: black;
    border: none;

    cursor: pointer;
    z-index: 10;
  }

  button:hover {
    -webkit-text-stroke: black 3px;
  }

  button.prev-slide {
    left: -100px;
  }

  button.next-slide {
    right: -100px;
  }
}

.tiktok-embed {
  width: max-content !important;
  border-radius: 10px !important;
}

// EXHIBITION SLIDESHOW
.exhibition-slideshow {
  display: flex;
  gap: 10px;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  overflow-x: scroll;
}

.expo-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 auto;
  scroll-snap-align: center;

  width: auto;
  height: 90vh;
  
  background-color: #f4f4f4;
  overflow: hidden;
}

.expo-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exhibition-slideshow::-webkit-scrollbar {
  height: 20px;
}

.exhibition-slideshow::-webkit-scrollbar-track {
  background-color: #CFCFCF;
}

.exhibition-slideshow::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
}

//BUY-BTN DANCE
@keyframes dance {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(20px, -20px);
  }

  40% {
    transform: translate(40px, -40px);
  }

  60% {
    transform: translate(60px, -60px);
  }

  80% {
    transform: translate(80px, -80px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes dance-mobile {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0);
  }
}